.tqb-date-picker
  +prefix-classes('tqb-dp-')
    .header
      background-color white

      h3
        text-align center
        line-height header-height - 1px
        font-size 1.2rem
        font-weight normal
        margin 0
      button
        position absolute
        top 0
        background-color white
        border none
        color gray
        padding 0
        height header-height - 1px
        line-height header-height - 1px